<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Source+Code+Pro&display=swap" rel="stylesheet">

    <title>Dev Gallery</title>
</head>
<body>
    <div>
        <div class="bl" id="bl1">
            <div class="header">
                <img src="/public/img/ico-header.png" alt="Dev Gallery">
                <div>
                    <ul>
                        <li><a href="/about.ejs"></a></li>
                        <li><a href="/portfolio.ejs"></a></li>
                        <li><a href="/contact.ejs"></a></li>
                    </ul>
                </div>
            </div>
            <div class="cont-bl1">
                <div class="">
                    <h1>Olá Mundo!</h1>
                    <p>Meu nome é Pierre Filho,</p>
                    <p>sou Desenvolvedor Full Stack.</p>
                    <button class="pdf">Baixar Currículo<br>? MB</button>
                </div>
                <div class="void-h">

                </div>
                <div class="next">
                    <a href="/#bl2">Sobre Mim ▼</a>
                </div>
            </div>
        </div>
        <div class="bl" id="bl2">
            <div>
                <div class="titulo-h">
                    Sobre Mim
                </div>
                <div class="sobre-h">
                    <div class="circulo">

                    </div>
                    <div class="info">

                    </div>
                    <div class="sobre-mim-h">
                        <p>Olá, meu nome é Pierre, um profissional multidisciplinar em Designer Gráfico e Desenvolvedor Full Stack. Com habilidades em observação, comunicação, modéstia e criatividade, destaco-me pela minha capacidade de pensar de forma inovadora e criar soluções únicas. Minha criatividade é essencial para desenvolver projetos visualmente atraentes e funcionais, alinhando estética e usabilidade. Estou sempre em busca de aprendizado e atualização para oferecer resultados excepcionais!</p>
                        <p>Ver mais...</p>
                    </div>
                </div>
                <div class="skills-h">
                    <div>
                        Habilidades
                    </div>
                    <div class="db-skills-h">

                    </div>
                </div>
            </div>
        </div>
        <div class="bl" id="bl3">
            <div class="titulo-h">
                Projetos & Serviços
            </div>
            <div class="botoes-h">
                <button>Website</button>
                <button>Artes</button>
            </div>
            <div class="conteudo-h">

            </div>
            <div class="cta">
                <button>Ver Mais</button>
            </div>
        </div>
        <div class="footer" id="footer">
            <ul></ul>
            <ul></ul>
            <ul></ul>
            <div>Dev Gallery Copyright © 2023 - Todos os direitos reservados.</div>
        </div>
    </div>
</body>
</html>